<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.sw.dao.AddressDao">
	<cache eviction="FIFO" flushInterval="60000" size="500" readOnly="true"></cache>
	
	<select id="findByUserId" parameterType="String" resultType="Address">
		select * from t_addresses where userId=#{userId} 
	</select>
	
	<insert id="addAddress" parameterType="Address" keyProperty="addressId" flushCache="true">
		insert into t_addresses values(#{addressId},#{phone},#{address},#{zipcode},#{user.userId},#{consignee});
	</insert>
	
	<select id="findAddressByUserId" parameterType="String" resultType="Address">
		select * from t_addresses where userId=#{userId}
	</select>
	
	
	<select id="findByAddressId" parameterType="String" resultType="Address">
		select * from t_addresses where addressId=#{addressId}
	</select>
	
	<select id="updateAddress" parameterType="Address" flushCache="true" >
		update t_addresses set phone=#{phone},address=#{address},zipcode=#{zipcode},consignee=#{consignee},userId=#{user.userId} where addressId=#{addressId}
	</select>
	
	
	<delete id="deleteAddressByAddressId" parameterType="String" flushCache="true">
		delete from t_addresses where addressId=#{addressId}
	</delete>
</mapper> 
