<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.river.dao.OrderitemDao">
	<cache eviction="FIFO" flushInterval="60000" size="500" readOnly="true"></cache>
	
	<resultMap type="Orderitem" id="OrderitemResult">
		<result property="orderitemId" column="orderitemId"/>
		<result property="_count" column="_count"/>
		<result property="subtotal" column="subtotal"/>
		<association property="snacks" column="snacksId" select="com.river.dao.SnacksDao.findById"></association>
	</resultMap>
	
	<select id="findByOrderId" parameterType="String" resultMap="OrderitemResult">
		select * from t_orderitem where orderId=#{orderId}
	</select>
	
	<insert id="addOrderitem" keyProperty="orderitemId" parameterType="orderitem" flushCache="true">
		insert into t_orderitem values(#{orderitemId},#{count},#{subtotal},#{order.orderId},#{snacks.snacksId})
	</insert>
</mapper> 
