<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.river.dao.SnacksDao">
	<cache eviction="FIFO" flushInterval="60000" size="500" readOnly="true"></cache>
	
	<resultMap type="Snacks" id="SnacksResult">
		<id property="snacksId" column="snacksId"/>
		<result property="snackName" column="snackName"/>
		<result property="price" column="price"/>
		<result property="description" column="description"/>
		<result property="image" column="image"/>
		<association property="category" column="categoryId" select="com.river.dao.CategoryDao.findBycategoryId"></association>
		
	</resultMap>

	<cache eviction="FIFO" flushInterval="60000" size="500" readOnly="true"></cache>

	<select id="findById" parameterType="String" resultMap="SnacksResult">
		select * from t_snacks  where snacksId=#{snacksId}
	</select>
	
	<select id="getTotalcountByCategory" parameterType="String" resultType="long">
		select count(*) from t_snacks where categoryId=#{categoryId}
	
	</select>
	
	<select id="getTotalcount" resultType="long">
		select count(*) from t_snacks 
	
	</select>
	
	<select id="getPageBean" parameterType="Map" resultMap="SnacksResult">
		select * from t_snacks  where 1=1 
		<if test="page!=null and pageSize!=null">
			limit #{page},#{pageSize}
		</if>
	</select>
	
	<select id="findByCategoryId" parameterType="Map" resultMap="SnacksResult">
		select * from t_snacks  where categoryId=#{categoryId} limit #{page},#{pageSize}
		
	</select>
	
	
	<select id="getTotalcountByKeyword" parameterType="Map" resultType="long">
		select count(*) from t_snacks where 1=1 
		<if test="keyword !=''">
			and snackName like #{keyword}
		</if>
		
		<if test="startPrice != null and endPrice == null" >
			and price &gt;= #{startPrice }
		</if>
		
		<if test="startPrice == null and endPrice != null" >
			and price &lt;= #{endPrice}
		</if>
		
		<if test="startPrice != null and endPrice != null" >
			and  price &gt;= #{startPrice} and  price &lt;= #{endPrice}
		</if>
	
	</select>
	
	<select id="keywordSearch" parameterType="Map" resultMap="SnacksResult">
		select * from t_snacks where 1=1 
		<if test="keyword !=''">
			and snackName like #{keyword}
		</if>
		
		<if test="startPrice != null and endPrice == null" >
			and price &gt;= #{startPrice }
		</if>
		
		<if test="startPrice == null and endPrice != null" >
			and price &lt;= #{endPrice}
		</if>
		
		<if test="startPrice != null and endPrice != null" >
			and  price &gt;= #{startPrice} and  price &lt;= #{endPrice}
		</if>
		
		<if test="page != null and pageSize != null">
			limit #{page},#{pageSize}
		</if>
		
	</select>
	
	
	<update id="adminUpdateSnacksById" parameterType="Snacks" flushCache="true">
		update t_snacks set snackName=#{snackName},
							price=#{price},
							description=#{description},
							image=#{image},
							categoryId=#{categoryId},
							state=#{state}
							where snacksId=#{snacksId}
	</update>
	
	
	<insert id="adminAddSnacks" parameterType="Snacks" keyProperty="snacksId" flushCache="true">
		insert into t_snacks values(#{snacksId},
									#{snackName},
									#{price},
									#{description},
									#{image},
									#{categoryId},
									#{state})
	</insert>
</mapper> 
